.container4 {
  .start-header {
    min-height: 30px;

    .progress-bar {
      background-color: #e6e6e6;
    }

    .progress-bar-inner {
      background-color: #0098ab;
      height: 100%;
      width: 100%;
    }

    .progress-step {
      margin: 0 auto;
      justify-content: center;
      position: relative;
      padding: 16px 16px 24px;
      padding-bottom: 36px;

      .step-count4 {
        text-align: center;
        font-size: 14px;
        color: #9b9b9b;
        font-weight: 400;
      }
    }
    .progress-horizontal {
      width: 100%;
      height: 12px;
    }
  }
  .start-main {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    width: 100%;

    .center {
      max-width: 706px;
      margin-left: auto;
      margin-right: auto;
    }

    .chunk {
      padding-bottom: 16px;

      .step-headline4 {
        color: #000;
        font-weight: bold;
        font-size: 42px;
        line-height: 1.24;
        margin-bottom: 20px;
      }

      .topic-search {
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
      }

      .description-step {
        list-style-type: decimal;
        padding-top: 16px;
        padding-left: 16px;
        font-size: 16px;
        line-height: 1.5;
        text-rendering: optimizeLegibility;
        color: #212121;
        margin-bottom: 36px;
      }

      .input-container {
        .input-description {
          position: relative;
          width: 706px;
          height: 180.5px;

          .description-text {
            resize: auto;
            background-color: #fcfcfc;
            margin: 0;
            border: 1px solid #a2a2a2;
            border-radius: 4px;
            padding: 20px;
            color: #212121;
            width: 100%;
          }
        }
      }
    }
  }
}
