.interest-tag {
  border: 1px solid #00a2c7;
  background-color: #00a2c7;
  color: #ffffff;
  font-weight: 600;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 7px 15px;
}
.interest-tag:hover {
  background-color: white;
  color: #00a2c7;
}
