.video-wrapper{
    width:100%;
    height:460px;
    overflow: hidden;
    position: relative;

    .main-video{
        min-width:100%;
     }
}

.main-wrapper{
    position: relative;
    .video-in-text{
        width: 700px;
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        bottom:0;
        // bottom:0;
        
        // float:none;
        
        .large-text{
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 25px;
        }
        .small-text{
            font-size: 20px;
            margin-top: 12px;
            font-weight: 600;
        }
        .video-in-signup:hover{background-color:#e72444;
                
        }
        .video-in-signup{
            margin: 43px auto 120px auto;
            width:135px;
            height:25px;
            padding:12px 112px;
            font-weight: 500;
            background-color: #f13a59;
            border-radius: 5px;
            line-height: 1.5rem;
            cursor:pointer;
            
            p{
                color:#fff;
                
            }
            
        }
        // .video-in-signup{
        //     width:135px;
        //     font-size: 16px;
        //     padding:12px 112px;
        //     margin-top: 36px;
        //     background-color: #f13a59;
        //     margin-bottom: 120px;
            
        //     p{
                
        //     }
        // }
        }
    p{
        color:black;
        text-align: center;
        
    }
}