.common-footer-wrapper{
    background-color: #0f1721;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    .common-footer-feed{
        .common-footer-feed-bottom-wrapper{
            .common-footer-text{
                display: inline-block;
                margin-bottom: 16px;
                padding-right: 11px;
                font-weight: 400;
                font-size: 16px;
                margin-top: 16px;
            }
            font-size: 13px;
            .common-footer-feed-helper{
                color: rgba(255, 255, 255, 0.7);
                line-height: 20px;
                .common-footer-helper-first{
                    padding-right: 8px;
                }
            }
            display: block;
        }


        .common-footer-feed-follow{
            display: block;
            margin-bottom: 32px;
            img{
                width:20px;
                height:20px;
                filter:opacity(.5) drop-shadow(0 0 0 #ffffff);
                margin-top: 10px;
                margin-right: 15px;
            }
        }


        max-width: 960px;
        padding: 24px 16px 8px 16px;
        margin:0 auto;
        .common-footer-feed-top{
            margin-bottom: 16px;
            .common-footer-feed-top-login{
                float: right;
            }
        } 
        .common-footer-feed-top-under{
            padding-top: 16px;
            margin-bottom: 30px;
            height: 39px;
            border-top: 1px solid rgba(255,255,255,.12);
            .common-footer-text{
                display: inline-block;
                margin-bottom: 16px;
                padding-right: 8px;
                font-weight: 400;
            }
        }
    }
}
