.see-more-infinity {
    margin-top: 12px;
    text-align: center;
}

.see-more-btn {
    box-sizing: border-box;
    display: block;
    padding: 9px;
    background: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    min-height: 36px;
    margin-bottom: 16px;
}