.nav-top {
  height: 45px;
  margin: 20px 0;

  .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 7px;
    float: left;
    cursor: pointer;
    overflow: hidden;
  }
  .nav-right {
    position: absolute;
    display: block;
    right: 50px;
    font-size: 14px;

    .nav-signup {
      color: #757575;
    }
    span {
      margin-right: 10px;
      padding-right: 5px;
      line-height: 3rem;
    }
    button {
      border: 0;
      background-color: #fff;
      cursor: pointer;
      font-size: 14px;
    }
    button:hover {
      color: rgb(0, 152, 171);
    }
    a {
      font-style: none;
      color: #757575;
      text-decoration: none;
    }
    a:hover {
      color: rgb(0, 152, 171);
    }
    .new-group {
      border-right: 1px solid rgba(46, 62, 72, 0.12);
      font-weight: bold;
      a {
        color: rgb(0, 162, 199);
      }
      .new {
        padding-right: 10px;
      }
    }
    .nav-login {
      a {
        padding-left: 5px;
      }
    }
  }
}
