.after-login-main-page {
  min-width: 960px;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup", helvetica, arial, sans-serif;
  font-weight: 400;

  .pre-alm-page {
    background: #00455d;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 44px;
    text-align: center;
  }

  .alm-page {
    overflow: hidden;
    width: 960px;
    padding-top: 16px;
    font-size: 13px;
    padding-bottom: 20px;
    margin: 0 auto;

    .alm-left {
      float: left;
      width: 73%;
      padding-right: 18px;
      margin-top: 20px;
    }

    .alm-right {
      float: left;
      width: 27%;
      margin-top: 20px;
    }
  }
}
