@import "reset.scss";
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.event {
  .small-header {
    display: none;

    @media #{$device-small} {
      display: flex;
      justify-content: space-around;
      height: 60px;
      border-bottom: 1px solid rgba(46, 62, 72, 0.12);
      align-items: center;
    }

    .icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        font-size: 12px;
        color: $default-font-color;
      }

      .search {
        background-image: url("../../Images/search.png");
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.3;
        margin-bottom: 5px;
      }
      .group {
        background-image: url("../../Images/group.png");
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.3;
        margin-bottom: 5px;
      }
      .profile {
        background-image: url("../../Images/profile.png");
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.3;
        margin-bottom: 5px;
      }
    }
  }
  .event-header {
    .header {
      background: #fff;
      border-bottom: 1px solid rgba(46, 62, 72, 0.12);
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgba(46, 62, 72, 0.12);

      .header-wrapper {
        display: flex;
        width: 90vw;
        justify-content: center;
        @media #{$device-large} {
          width: 100vw;
          padding: 30px;
        }
        @media #{$device-small} {
          flex-direction: column;
        }

        .no-vacancy {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 30vw;
          font-size: 18px;

          @media #{$device-small} {
            width: 100%;
          }

          .event-status {
            margin-bottom: 40px;
            color: $default-font-color;

            @media #{$device-small} {
              margin: 20px 0 0 0;
              font-size: 14px;
            }
          }

          .share {
            @media #{$device-large} {
              display: none;
            }
            @media #{$device-small} {
              display: none;
            }
          }
        }
      }
    }
  }

  main {
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: row-reverse;
    padding-bottom: 50px;

    @media #{$device-large} {
      display: block;
      padding-top: 20px;
    }

    .main-right-wrapper {
      .main-right {
        position: sticky;
        top: 120px;
      }
    }

    .main-left {
      display: flex;
      justify-content: center;
      width: 600px;
      margin-right: 5%;

      @media #{$device-large} {
        margin-top: 50px;
        width: 100%;
      }
    }
  }
}

.sticky-header {
  background: #fff;
  border-bottom: 1px solid #2e3e481f;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  animation: fadeEffect 0.5s;

  @media #{$device-large} {
    padding: 20px;
  }
  @media #{$device-small} {
    width: 100%;
    height: 50px;
  }

  .title-wrapper {
    @media #{$device-small} {
      display: none;
    }
    .status {
      font-size: 14px;
    }

    .event-title {
      font-size: 18px;
    }
  }

  .buttons {
    display: flex;

    @media #{$device-small} {
      justify-content: space-around;
    }

    button {
      width: 130px;
      height: 30px;
      background-color: $theme-color-blue;
      border-radius: 8px;
      margin-right: 20px;
      padding-top: 7px;

      @media #{$device-large} {
        width: 90px;
      }

      @media #{$device-small} {
        width: 190px;
      }

      &:hover {
        cursor: pointer;
        background-color: #007994;
      }

      .accept {
        display: inline-flex;
        background-image: url("../../Images/check.png");
        background-size: 90%;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
      }
      .refuse {
        display: inline-flex;
        background-image: url("../../Images/refuse.png");
        background-size: 80%;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
      }
    }
  }
}
