.feeds{
    max-width:1100px;
    margin:0 auto;
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    // .event-clip-container{
    //     position: absolute;
    //     top:0%;
    // }
    // .eventclip-div{
    //     overflow-x: hidden;
    //     overflow-y: hidden;
    //     height: 280px;
    //     position: relative;
        
    //     button{
    //         position: absolute;
    //         font-size: 14px;    
    //     }
    //     .up{
    //         margin:0 auto 0 auto;
    //         width:20px;
    //         height: 20px;
    //         // display: none;
    //         display: block;
    //         position: relative;


    //         .arrow1{
    //             width:20px;
    //             height:20px;
    //             margin: 0 auto;
    //             position: absolute;
    //             top:0;
                
    //         }
    //     }
    //     .down{
    //         width:20px;
    //         height: 20px;
    //         bottom:0;
    //         left:50%;
    //         .arrow2{
    //             width:20px;
    //             bottom:0;
    //             left:0;
    //             position: absolute;
                
    //         }
    //     }
        
    // }

}