.overview {
    padding-top: 40px;
    color: rgb(33, 33, 33);
    font-size:16px;
    font-weight:400;
    margin: 0 20px;
}

.overview-in {
    line-height: 24px;
}

.overview-title {
    font-size:20px;
    font-weight:500;
    line-height: 28px;
    padding-bottom:20px;
}

.overview-hidden {
    display: none;
    margin-bottom: 20px;
    line-height: 24px;
}

.overview-show {
    max-height: 48px;
    margin-bottom: 20px;
    line-height: 24px;
}

.overview-btn {
    box-sizing:border-box;
    color:rgb(0, 152, 171);
    cursor:pointer;
    font-size:14px;
    padding: 5px;
}