@import "reset.scss";

.date {
  margin-bottom: 20px;

  .input-label {
    margin-bottom: 10px;
  }

  .calender {
    width: 200px;
    height: 50px;
    font-size: 16px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid rgba(46, 62, 72, 0.12);
  }
  .time {
    width: 110px;
    height: 50px;
    font-size: 16px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(46, 62, 72, 0.12);
  }
}
