@import "reset.scss";

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media #{$device-large} {
    padding: 20px;
  }

  .event-img {
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;

    @media #{$device-large} {
      width: 100%;
    }
  }
  .details {
    line-height: 2;
    white-space: normal;

    .detail {
      line-height: 4;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
