.SignupLoginBtn {
  .margin-bottom {
    margin-bottom: 16px;
  }

  .svg-button {
    width: 20px;
    display: inline-block;
    vertical-align: bottom;

    .button-icon {
      width: 100%;
    }
  }

  .button-facebook {
    display: block;
    position: relative;
    color: #fff !important;
    background: #3b5998;
    border-color: #3b5998;
    width: 428px;
    height: 42px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px;
    transition: background 0.15s;
  }

  .button-facebook:hover {
    background: #30487b;
  }

  .button-google {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.26) !important;
    color: rgba(0, 0, 0, 0.54) !important;
    width: 428px;
    height: 42px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px;
    transition: background 0.15s;
  }

  .button-google:hover {
    background: #f2f2f2;
  }
}
