.nav-top{
    position: relative;
    height:45px;
    padding:20px;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    .nav-logo{
        height:44px;
        float: left;
        cursor:pointer;
    }
    .nav-right{
        position: absolute;
        display: block;
        right:50px;
        font-size: 14px;
        
        span {
            margin-right: 10px;
            padding-right: 5px;
            line-height: 3rem;
        }
        button{
            border: 0;
            background-color: #fff;
            cursor: pointer;
            font-size: 14px;
            
            
        }
        button:hover{
            color:rgb(0, 152, 171);
        }
        a{
            font-style: none;
            color: #757575;
            text-decoration: none;
            
        }
        a:hover{
            color:rgb(0, 152, 171);
        }
        .new-group{
            border-right: 1px solid rgba(46, 62, 72, 0.12);
            font-weight: bold;
            a{
                color : rgb(0, 162, 199);
            }
            .new{
                padding-right: 10px;
            }
        }
        .nav-login{
            a{
                padding-left: 5px;
            }
        }
    }
}
