@import "reset.scss";

.map {
  width: 340px;
  height: 260px;
  position: relative;

  @media #{$device-large} {
    width: 100%;
    height: 400px;
  }

  @media #{$device-small} {
    width: 100%;
    height: 400px;
  }
}
